@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
}
html{
  background: linear-gradient(343deg, rgba(0,0,0,1) 23%, rgba(77,83,0,1) 100%);
}
.coin-app{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgb(0,0,0);
  background: linear-gradient(261deg, rgb(31, 31, 31) 18%, rgba(105,105,105,1) 100%);
  color: #fff;
  height: 100%;
}
.coin-search{
  display: grid;
  justify-items: center;
  margin-bottom: 3rem;
}
.coin-search h1{
  margin: 10px;
  font-size: 42px;
  letter-spacing: 2px;
  text-align: center;
}

.coin-search form input {
  height: 40px;
  width: 300px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
  background-color: #454545;
  color: #fff;
  border-radius: 8px;

}

.coins-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  gap: 1rem;
}
